
header {
    background-color: blue;
    text-align: center;
    color: white;
}
footer {
    background-color: blue;
    text-align: center;
    color:white;
}
body {
    text-align: center;
   
}

nav, ul, li {
    list-style-type: none;
    
}
.navbar {
    color: white;
}






