
header {
    background-color: blue;
    text-align: center;
    color: yellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
footer {
    background-color: blue;
    text-align: center;
    color:white;
}
body {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;  
    background-color: yellow;
    padding: 20px;
    border: 2px solid blue;
   
}
   

.navbar ul{
padding: 10px 15px; 
margin: 0%;
}
.navbar a{
color: white;
text-decoration:none;
padding: 15px;
display: block;
text-align: center;
font-family: 'Courier New', Courier, monospace;
}
.navbar a:hover {
    background-color: yellow;
    color: blue;
}

.main {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;  

}

ul{
    list-style-type: none;
}

.key-facts{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.footer-p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



