header 
{
    padding: 0 1rem;
    z-index: 99;
    width: 100%;
    box-shadow: 0;
    background-color: blue;
    text-align: center;
    color: yellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: yellow;
    padding: 20px;
    border: 2px solid blue;
}

.navbar ul {
    padding: 10px 15px;
    margin: 0%;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
}

.navbar a:hover {
    background-color: yellow;
    color: blue;
}

ul {
    list-style-type: none;
}

.key-facts {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.home-img {
    border: 3px solid blue;
    border-radius: 10px;
    width: 100%;
    height: auto;
}

<!-- gallery page--> 

#gallery{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

#photos{
    display: flex;
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
    margin: 10px;
    
  }
  
  #photos img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    margin: 50px;
    border: 2px;
    border-color: blue;
  }

  <!--Matchday Memories Styling-->
.matchdayphotos{
    position: relative;
    max-width: 30%;
    max-height: 30%;
}

<!-- footer-->

footer {
    background-color: blue;
    text-align: center;
    color: white;
}

.social-icon {
    color: yellow;
}

.footer-p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


@media screen and (max-width: 800px) {
    #photos {
      flex: 50%;
      max-width: 50%;
    }
  }

  #photos {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }

@media screen and (max-width: 600px) {
    #photos {
      flex: 100%;
      max-width: 100%;
    }
  }



