/* Header */

header {
    background-color: #FFFF00;
    width: 100%;
    box-shadow: 0 2px 2px #000;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    top: 0;
    left: 0;
    position: fixed;
}

header {
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
}

header a {
    text-decoration: none;
    color: #0000FF
}

h1 {
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #0000FF;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #0000FF;
}

/* navbar styles with dropdown toggle*/

nav {
    position: absolute;
    background-color: #FFFF00;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #000;
    display: none;
    top: 100%;
}

/* nav toggle */

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

.menu-icon {
    color: #0000FF
}

main {
    margin-top: 90px;
}

.content {
    text-align: center;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
}

/*home page styling*/

ul li {
    list-style-type: none;
}

.home-img {
    border: 3px solid #0000FF;
    border-radius: 10px;
    width: 100%;
    height: auto;
}

.welcome-header {
    font-size: 200%;
}

.home-box {
    border: #0000FF solid 5px;
}

.home-img-padding {
    padding-top: 10px;
    padding-bottom: 8px;
}

/*gallery page styling*/

#hidden-header {
    visibility: hidden;
}

#gallery img {
    width: 300px;
    height: 100%;
    object-fit: cover;
    transition: 1s ease;
    margin: auto
}

#gallery {
    border: #0000FF solid 5px;
}

#video {
    border: #0000FF solid 5px;
    width: 100%;
}

.video {
    width: 100%;
    height: 200px;
}

/*matchday memories styling*/

.matchday-photos {
    width: 100%;
    height: 300%;
    border: 5px solid #0000FF;
}

.matchday-header {
    font-size: 200%;
}

.matchday-text {
    font-size: medium;
}

.box-wrap {
    background-color: #0000;
    border: #0000FF solid 5px;
    padding-bottom: 10px;
}

/*footer stlying*/

footer {
    padding: 1rem;
    background-color: #0000FF;
    text-align: center;
}

footer p {
    color: #FFFF00;
}

.social-icon {
    color: #FFFF00;
    fill: #FFFF00;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 30px;
}

a {
    text-decoration: none;
}

/*media query: tablets and larger*/

@media screen and (min-width: 768px) {
    main {
        margin-top: 100px;
    }

    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    #photos {
        margin-top: 8px;
        vertical-align: middle;
        width: 100%;
    }

    /*gallery page*/

    #gallery {
        padding: 2rem 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        margin: auto;
    }

    #gallery img {
        width: 300px;
        height: 100%;
        object-fit: cover;
        transition: 1s ease;
        margin: auto
    }

    .video {
        width: 100%;
        height: 450px;
    }

    .social-icon {
        padding-left: 2rem;
        padding-right: 2rem;
        font-size: 40px;
    }
}

/*Large devices laptops and desktops*/

@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #0000FF;
    }

    main {
        margin-top: 100px;
    }

    .social-icon {
        padding-left: 5rem;
        padding-right: 5rem;
        font-size: 100px;
    }

    /*gallery */
    #gallery {
        padding: 2rem 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
        margin: auto;
    }

    #gallery img {
        width: 300px;
        height: 100%;
        object-fit: cover;
        transition: 1s ease;
        margin: auto
    }

    #gallery img:hover {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        transition: 1s ease;
    }

    .video {
        width: 100%;
        height: 450px;
    }

    /*matchday memories*/

    .matchday-photos {
        width: 70%;
        height: auto;
    }
}