header {
    padding: 0 1rem;
    background-color: #0000FF;
    text-align: center;
    color: #FFFF00;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #FFFF00;
    padding: 20px;
    border: 2px solid #0000FF;
}

.navbar ul {
    padding: 10px 15px;
    margin: 0; /* Corrected */
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
}

.navbar a:hover {
    background-color: #FFFF00;
    color: #0000FF;
}

ul {
    list-style-type: none;
}

/*home page styling*/

.key-facts {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.home-img {
    border: 3px solid #0000FF;
    border-radius: 10px;
    width: 100%;
    height: auto;
}

.home-text{
    color: #0000FF;
}

/*gallery page styling*/

#gallery {
    padding: 2rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

#gallery img {
    width: 300px;
    height: 100%;
    object-fit: cover;
    transition: 1s ease;
}

#gallery img:hover{
-webkit-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
transition: 1s ease;
}

/*matchday memories styling*/

.matchdayphotos {
    position: relative;
    max-width: 30%;
    max-height: 30%;
}

/*footer stlying*/

footer {
    padding: 1rem;
    background-color: #0000FF;
    text-align: center;
    color: white;
}

.social-icon {
    color: #FFFF00;
    fill: #FFFF00;
}

a {
    text-decoration: none;
}

.copyright-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0 !important;
    padding: 0 !important;
}

/*media screen stlying*/

@media screen and (max-width: 800px) {
    #photos {
        margin-top: 8px;
        vertical-align: middle;
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    #gallery {
        display: grid;
        grid-template-columns: 1fr;
    }

    #gallery img {
        margin: 0 auto;
    }
}
